*.dat
*.fil
*.csv
*.out
pulscan-gpu
sample_data/*
!sample_data/*.fft
!sample_data/*.inf
*.nsys-rep
*.sqlite
*.ncu-rep
.vscode/settings.json
code_backups/*
!candidate_sigma_profile.csv
sample_data/1048576.fft
new_pulscan_gpu
magnitudeSquaredArray.bin
